.Rocket-detail {
    width: 20rem;
    padding: 2rem;
    margin-bottom: 18px;
    background-color: #53575a;

}

.Rocket-image {
    background-color: #92bbdd;
}


.Rocket-flight-number {
    color: #e9da56;
    font-size: 20px;
    font-style: initial;
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding-left: 20px;
}

.Rocket-id-detail {
    color: #0e0909;
    font-size: 18px;
    font-style:inherit;
    font-weight: 450;
}

.Launch-year {
    color: #1a1717;
    font-style: oblique;
    font-weight: 500;
    background-color: #53575a;
}