body {
  background-color: #f2f2f228 !important;
}

.App {
  background-color: #f2f2f231;
}

.loader-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
  text-align: center;
  max-width: 100%;
  height: auto;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  flex-direction: column;
  font-size: calc(32px + 4vmin);
  color: #0bcfbf;
  padding-left: 550px;
  /* background-image: url("/src/header-background.jpg"); */
  background-color: rgba(167, 150, 201, 0.767);
  font-family: sans-serif;
  padding: auto;
  padding-top: 45px;
  padding-bottom: 45px;
  text-shadow: 2px 2px 5px rgb(15, 83, 78);
}

.link {
  color: #61dafb;
}

.filter-card {
  width: 18rem;
  margin-bottom: 15px;
}

.filter-header {
  color: #111111;
  font-style:oblique;
}

.filter-heading {
  text-align: center !important;
  margin-top: 1rem;
  font-style:italic;
  font-weight: 450;
}

.filter-launch-year {
  text-align: center !important;
  margin-top: -1rem;
  font-style:italic;
  font-weight: 450;
}

.filters-hr {
  margin: 0.4rem;
}

.filter-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 25px;
  display: flex;
  flex-wrap: wrap;
  background-color:lavenderblush;
}

.creator-name {
  text-align: center !important;
}

.filter-button {
  flex: 0 40%;
  margin: 10px;
  background-color: rgb(204, 168, 151);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}